.service 
    padding: 30rem 0
    text-align: center
    background-color: #f9fafc
.main 
    h2 
        padding-top: 10rem
        padding-bottom: 20rem
        font-size: 20rem
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Montserrat"
        text-align: center
        &::before
            content: ""
            position: absolute
            width: 50rem
            height: 2rem
            background-color: #555
            bottom: -20rem
            left: 50%
            transform: translate(-50%,-50%)
    p 
        padding-top: 30rem
        font-size: 16rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center

.card-service
    padding-top: 30rem
.personal
    text-align: center
    padding: 5rem
    padding-bottom: 10rem
    max-width: 345rem
    cursor: pointer

    h3 
        font-size: 14rem
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Montserrat"
        text-align: center
    p 
        font-size: 14px
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
    &:hover .svg-figure
        background-color: #c0301c
    &:hover svg 
        fill: #fff
.svg-figure 
    margin: 0 auto
    width: 90rem
    height: 90rem 
    border-radius: 50%
    border: 2px solid #dddddd
    transition: all .5s ease
    svg
        margin: auto
        fill: #c0301c
//about-us            

.about-us 
    background-color: #f8f8f8
    h3
        margin: 0
        padding-top: 100rem
        font-size: 20rem
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Montserrat"
        text-align: center
    p 
        font-size: 16rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
.description
    p
        font-size: 14rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: left
.about-card 
    margin: 0  

//latest works
.latest-works
    h2
        font-size: 20rem
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Montserrat"
        text-align: center
    a 
        padding-left: 20rem
        font-size: 16rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
        &:hover
            color: #c0301c

.get-in-touch
    text-align: center
    padding: 100rem 0
    background: linear-gradient(rgba(#c0301c,0.45), rgba(#c0301c,0.45)) url(../img/project.png) center / 150% auto
    p 
        pointer-events: none
        font-size: 30rem
        line-height: 44rem
        color: #ffffff
        
    a 
        align-items: center